Podpora photo subdir DOKUMENTACJA_FOTOGRAFICZNA
Podpora photo ext *.jpg
Podpora ref startLevel 7
Podpora ref endLevel 47
Podpora arrow level 7
Podpora arrow font 1
Podpora arrow color 7
Podpora arrow textSize 2.0
Podpora arrow style 0
Podpora arrow weight 1
#Podpora arrow minLength 5
Podpora arrow maxLength 20